In [1]:
import pandas as pd
import numpy as np

In [2]:
myseries1=pd.Series([78,46], index=['costarica','barbados'])
myseries1

costarica    78
barbados     46
dtype: int64

In [3]:
myseries1.costarica

78

In [4]:
myseries2=pd.Series([92,14536], index=['srilanka','barbados'])
myseries2

srilanka       92
barbados    14536
dtype: int64

In [5]:
myseries1 + myseries2

barbados     14582.0
costarica        NaN
srilanka         NaN
dtype: float64

In [6]:
myseries = pd.Series([1, 2, 3, 4, 5],index=['row1','row2','row3','row4','row5'])
myseries

row1    1
row2    2
row3    3
row4    4
row5    5
dtype: int64

In [7]:
myseries.index

Index(['row1', 'row2', 'row3', 'row4', 'row5'], dtype='object')

In [8]:
myseries.values

array([1, 2, 3, 4, 5], dtype=int64)

In [9]:
myseries1["costarica"]

78

In [10]:
myseries>3

row1    False
row2    False
row3    False
row4     True
row5     True
dtype: bool

In [11]:
myseries[myseries>2]

row3    3
row4    4
row5    5
dtype: int64

In [12]:
my_array = np.array([[1 ,5 ,9 ,13],[2 ,6 ,10 ,14],[3 ,7 ,11 ,15],[4 ,8 ,12 ,16]])

my_df = pd.DataFrame(my_array, index=['row1' ,'row2' ,'row3' ,'row4'], columns=['col1' ,'col2' ,'col3' ,'col4'])
my_df

      col1  col2  col3  col4
row1     1     5     9    13
row2     2     6    10    14
row3     3     7    11    15
row4     4     8    12    16

In [13]:
my_array = np.array([[1 ,5 ,9 ,13],[2 ,6 ,10 ,14],[3 ,7 ,11 ,15],[4 ,8 ,12 ,16]])

my_df = pd.DataFrame(my_array, index=['row1' ,'row2' ,'row3' ,'row4'], columns=['col1' ,'col2' ,'col3' ,'col4'])
my_df

      col1  col2  col3  col4
row1     1     5     9    13
row2     2     6    10    14
row3     3     7    11    15
row4     4     8    12    16

In [14]:
my_df.index

Index(['row1', 'row2', 'row3', 'row4'], dtype='object')

In [15]:
my_df.columns

Index(['col1', 'col2', 'col3', 'col4'], dtype='object')

In [16]:
my_df.values

array([[ 1,  5,  9, 13],
       [ 2,  6, 10, 14],
       [ 3,  7, 11, 15],
       [ 4,  8, 12, 16]])